{% extends 'home.html'%}
{% block content%}
{% load static %}
<div class="wim">
<div class="row mhead">
    <div class="col-sm-12">
        <h1 class=" text-center name">EMMA WATSON</h1>
        <h6 class="text-center profile">PROFILE TITLE</h6>
    </div>
</div>
<div class="container-fluid">
    <div class="row">
        <div class="col-sm-1"></div>
        <div class="col-sm-4" style="margin-top: 100px;">
            <h6 class="contact"><b>CONTACT</b></h6>
            <ul class="list-group">
               <li class="list"><img src="{% static 'img/phone-call.png' %}" style="height:20px; width:18px; margin-top:5x;">&nbsp;<h6 style="margin-top:-18px; margin-left:28px;">123-456-7890</h6></li>
               <li class="list"><img src="{% static 'img/email.png' %}" style="height: 20px; width:18px; margin-top:10px;">&nbsp;<h6 style="margin-top: -18px; margin-left:30px;">xyz@gmail.com</h6></li>
               <li class="list"><img src="{% static 'img/place.png' %}" style="height: 20px; width:18px; margin-top:10px;">&nbsp;<h6 style="margin-top: -18px; margin-left:30px;">India</h6></li>
               <li class="list"><img src="{% static 'img/linkedin.png' %}" style="height: 20px; width:18px; margin-top:10px;"><h6 style="margin-top: -18px; margin-left:30px;">Linkedin/profile.com</h6></li>
             </ul>
             <div class="Education" style="margin-top: 12px;">
               <h3>EDUCATION</h3>
               <ul class="list-group">
                 <li class="list">Degree</li>
                 <li class="list">Education</li>
                 <li class="list">University Name</li>
                 <li class="list">20201-2021</li>
               </ul>
             </div>
             <div class="skiils" style="margin-top: 10px; margin-bottom: 20px;">
               <h3>SKILLS</h3>
               <ul class="list-group" >
                <li class="item"> <span class="dot"></span>Type 1</li>
                <li class="item"> <span class="dot"></span>Type 1</li>
                <li class="item"> <span class="dot"></span>Type 1</li>
                <li class="item"> <span class="dot"></span>Type 1</li>
                <li class="item"> <span class="dot"></span>Type 1</li>
                <li class="item"> <span class="dot"></span>Type 1</li>
               </ul>
               
             </div>
            
        </div>
        <div class="col-sm-6" style="margin-top:80px;">
          <h5><b>PROFILE</b></h5>
          <p class="text-center" style=" width:70%; display:absolute; text-align:center;">
           When writing a resume profile, your goal is to sum up your experience and goals in approximately less than 500 characters listed as a paragraph or bullet points. Use this section to explain your skills and qualifications to the hiring manager to give them a better idea of how this experience can benefit their company.
          </p>
          <h4><b>WORK EXPERIENCE</b></h4>
          <ul class="list-group">
            <li>djvjrwkrgkwgwjr</li>
            <li>djvjrwkrgkwgwjr</li>
            <li>djvjrwkrgkwgwjr</li>
            <li>djvjrwkrgkwgwjr</li>

          </ul>
          <h4 style="margin-top: 20px;"><b>HOBBIES</b></h4>
          <ul class="list-group">
           <li>djvjrwkrgkwgwjr</li>
           <li>djvjrwkrgkwgwjr</li>
           <li>djvjrwkrgkwgwjr</li>
           <li>djvjrwkrgkwgwjr</li>
         </ul>
         <h4 style="margin-top: 20px;"><b>Positions Applied for</b></h4>
          <ul class="list-group">
           <li>djvjrwkrgkwgwjr</li>
           <li>djvjrwkrgkwgwjr</li>
           <li>djvjrwkrgkwgwjr</li>
           <li>djvjrwkrgkwgwjr</li>
          </ul>
        </div>
        <div class="col-sm-1">

        </div>
    </div>
</div>
</div>
{%endblock%}